*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 4%; 
    
}

.title h1{
    display: flex;
    justify-content: center;
    background-color: #3a3737;
    color: #fff;
    padding: 17px 0;
}

header{
    display: flex;
    column-gap: 60%;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #bbbe0a3f;
}

header span {
    font-size: 25px ;
    font-weight: 700;
    color: #3a3737;
}

.cols{
    display: flex;
    background-color: #bbbe0a3f;
    padding-bottom: 80px;
    color: #3a3737;
}

.col-1{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}

img{
    width: 200px;
    height: 200px;
}

.col-1 p{
    padding-left: 20px;
    width: 60%;
}

.col-2{
    padding-top: 30px;
}

.col-2 ul{
    font-size: 20px;
    line-height: 30px;
}

.col-2 span{
    font-weight: 700;
}

.col-2 a{
    color: rgb(230, 56, 56);
    padding-left: 5px;
}